.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.range-main {
  height: 4px;
    width: 100%;
    border-radius: 100px;
    background: linear-gradient(to right, #F5F5F5 0%, #F5F5F5 0%, #000 0%, #000 100%, #F5F5F5 100%, #F5F5F5 100%);
    border: 1px solid var(--color-borders);
    align-self: center;
    position: relative;
}

.range-circel-left {
  position: absolute;
    z-index: 0;
    cursor: grab;
    touch-action: none;
    user-select: none;
    height: 28px;
    width: 28px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50%;
    transform: translate(-15px, -13px);
}

.range-circel-right {
  position: absolute;
  right: 0;
    z-index: 1;
    cursor: grab;
    touch-action: none;
    user-select: none;
    height: 28px;
    width: 28px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50%;
    /* transform: translate(455.344px, -13px); */
    transform: translateY(-13px);
}