.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.range-main {
  height: 4px;
    width: 100%;
    border-radius: 100px;
    background: linear-gradient(to right, #F5F5F5 0%, #F5F5F5 0%, #000 0%, #000 100%, #F5F5F5 100%, #F5F5F5 100%);
    border: 1px solid var(--color-borders);
    align-self: center;
    position: relative;
}

.range-circel-left {
  position: absolute;
    z-index: 0;
    cursor: grab;
    touch-action: none;
    user-select: none;
    height: 28px;
    width: 28px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50%;
    transform: translate(-15px, -13px);
}

.range-circel-right {
  position: absolute;
  right: 0;
    z-index: 1;
    cursor: grab;
    touch-action: none;
    user-select: none;
    height: 28px;
    width: 28px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50%;
    /* transform: translate(455.344px, -13px); */
    transform: translateY(-13px);
}


#sidebar {
  transform: translateX(-100%);
}

#sidebar.open {
  transform: translateX(0);
}


.diamond-quality-shape-sec .grid-with-variables {
  display: flex;
  justify-content: space-between;
}

.diamond-quality-shape-sec .grid-with-variables button {
  width: 100%;
}


 
.skeleton .square {
  min-height: 393px;
  border-radius: 5px;
  background: rgba(130, 130, 130, 0.2);
  background: -webkit-gradient(linear, left top, right top, color-stop(8%, rgba(130, 130, 130, 0.2)), color-stop(18%, rgba(130, 130, 130, 0.3)), color-stop(33%, rgba(130, 130, 130, 0.2)));
  background: linear-gradient(to right, rgba(130, 130, 130, 0.2) 8%, rgba(130, 130, 130, 0.3) 18%, rgba(130, 130, 130, 0.2) 33%);
  background-size: 800px 100px;
  animation: wave-squares 2s infinite ease-out;
}

.skeleton .line {
  height: 12px;
  margin-bottom: 6px;
  border-radius: 2px;
  background: rgba(130, 130, 130, 0.2);
  background: -webkit-gradient(linear, left top, right top, color-stop(8%, rgba(130, 130, 130, 0.2)), color-stop(18%, rgba(130, 130, 130, 0.3)), color-stop(33%, rgba(130, 130, 130, 0.2)));
  background: linear-gradient(to right, rgba(130, 130, 130, 0.2) 8%, rgba(130, 130, 130, 0.3) 18%, rgba(130, 130, 130, 0.2) 33%);
  background-size: 800px 100px;
  animation: wave-lines 2s infinite ease-out;
}

.h8 {
  height: 8px !important;
}

.w50 {
  width: 50% !important;
}

.w75 {
  width: 75% !important;
}

.m10 {
  margin-bottom: 10px !important;
}

.w40 {
  width: 40% !important;
}

.h17 {
  height: 17px !important;
}

.flex1 {
  flex: 1;
}

.skeleton-left {
  flex: 2;
  /* padding-right: 15px; */
}

.flex2 {
  flex: 2;
}

.skeleton-right {
  flex: 1;
}

.w20 {
  width: 20%;
}

.w30 {
  width: 30% !important;
}

.skeleton .square200 {
  min-height: 200px;
}

.skeleton .square500 {
  min-height: 500px;
}

@keyframes wave-lines {
  0% {
      background-position: -468px 0;
  }
   100% {
      background-position: 468px 0;
  }
}
@keyframes wave-squares {
  0% {
      background-position: -468px 0;
  }
   100% {
      background-position: 468px 0;
  }
}

/* .asc-dsc-filter {
  display: contents !important; 
} */



/* review-slider-sec css */

.review-slider-sec {
  padding-top: 30px;
  padding-bottom: 100px;
}

.review-slider-sub {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.review-slider-sub .excellent-sec {
  width: 200px;
}

.review-slider-sub .slider-sec {
  width: calc(100% - 200px);
}

.excellent-sec h2 {
  font-size: 24px;
    margin: 0 0 12px;
    display: block;
}

.tp-widget-review__source__information {
  width: 250px;
}

.tp-widget-review__source__information a {
  color: #1a66ff;
  text-decoration: underline;
}

.tp-widget-review__source__information {
  background-color: #fff;
  border: 1px solid #dcdce6;
  border-radius: 2px;
  box-shadow: 0px 4px 24px rgba(0,0,0,.15);
  color: #1b1b21;
  display: none;
  left: -50px;
  line-height: 16px;
  padding: 16px 8px;
  position: absolute;
  /* top: calc(100% + 12px); */
  top: 20px;
  z-index: 10;
  cursor: default;
}

.verification-label-icon-sec {
  position: relative;
}

.verification-label-wrapper:hover .tp-widget-review__source__information {
  display: block;
}

.verification-label-wrapper .label-text {
  color: #6c6c85;
  font-size: 13px;
}

.tp-widget-review__source__information .information-title {
  color: #1b1b21;
  font-size: 13px;
  line-height: 16px;
  margin-bottom: 4px;
  font-weight: 700;
}

.tp-widget-review__source__information .information-text {
  color: #1b1b21;
  display: block;
  font-size: 13px;
  line-height: 16px;
}

.tp-widget-review__source__arrow {
  background-color: #fff;
  border-left: 1px solid #dcdce6;
  border-top: 1px solid #dcdce6;
  content: "";
  display: block;
  position: absolute;
  left: 28%;
  top: -8px;
  height: 14px;
  width: 14px;
  transform: rotate(45deg);
}

.review-slider-sec .slider-sec button {
  border: 1px solid #000;
}

.review-slider-sec .slider-sec button:first-child {
  left: -10px;
}

.review-slider-sec .slider-sec button:last-child {
  right: -10px;
}

@media (max-width:991px) {
  .review-slider-sec {
    padding-bottom: 50px;
  }
}

@media (max-width:767px) {

  .review-slider-sub {
    flex-direction: column;
    justify-content: center;
  }

  .review-slider-sub .slider-sec , .review-slider-sub .excellent-sec {
    width: 100%;
  }

}




/* diomond detail information sec */

.what-about-diomond-banner-sec {
  background-image: url(./assets/Images/diomond-detail-desk-img.webp);
  background-size: cover;
  background-position: center;
  min-height: 363px;
}

.styled-table :not(thead) tr:nth-child(odd) {
  background-color: #f7f7f7;
}

.styled-table tr:not(:first-child) {
  border-top: 1px solid var(--color-borders);
}

.styled-table td:first-child {
  font-weight: 600;
}

.styled-table td span {
  font-weight: 400;
}

.styled-table td:not(:last-child) {
  border-right: 1px solid var(--color-borders);
}

.styled-table td {
  font-size: .8125rem;
  line-height: 1.4;
  padding: 1.125rem 1rem;
  vertical-align: baseline;
}



@media (min-width: 48em) {

  .styled-table tr>:first-child {
    min-width: 20rem;
}

.styled-table td {
    font-size: .875rem;
    line-height: 1.3;
    padding: 1.5rem 1rem;
}

}


@media (max-width:767px) {

  .what-about-diomond-banner-sec {
    background-image: url(./assets/Images/diomond-detail-mob-img.webp);
    min-height: 250px;
  }

}